@use 'fonts';

* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

.link-btn {
    text-decoration: none;
    display: flex;
}

button {
    background-color: #5474FD;
    font-family: fonts.$second-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    border-radius: 0%;
    min-height: 63px;
    min-width: 228px;
    margin-top: 4%;
    margin-bottom: 4%;
    transition: transform .1s;


    &:hover {
        transform: scale(1.05);
        background-color: #3b50b1;  
    }

    &:active {
        box-shadow: 3px 3px 3px rgb(36, 36, 36) inset;
        background-color: #2f4191;
    }

    &:focus {
        background-color: #2f4191;
    }
}

h2 {
    font-family: fonts.$second-font;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-top: 7%;
    padding-bottom: 3%;
}

h4 {
    font-family: fonts.$main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

p {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #E8E8E8;
}

@media screen and (max-width: 700px) {
    h2 {
        justify-content: center;
        text-align: center;
    }

    .link-btn {
        display: flex;
        justify-content: center;
    }
}