.why-us {
    background-image: url(../assets/background-why-us.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.why-us__container {
    max-width: 1180px;
    width: 100%;
    margin: auto;
    padding-right: 4%;
    padding-left: 4%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.why-us__article {
    display: flex;
    flex-direction: column;
    max-width: 560px;
    width: 100%;
}

.article__text {
    letter-spacing: 1.6px;
}